In [ ]:
#1] a) Create 2 text files. Read the contents in a single RDD.

#Solution:

# 1. Install and set up Spark
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadMultipleFiles").getOrCreate()
sc = spark.sparkContext

# 2. Create the two text files
with open("file1.txt", "w") as f:
  f.write("Hello Spark from file one\n")
  f.write("This is the first line\n")
  f.write("End of file one\n")

with open("file2.txt", "w") as f:
  f.write("Greetings from file two\n")
  f.write("This is the second line\n")

print("Created file1.txt and file2.txt successfully.")

# 3. Read both files into a single RDD using a wildcard
rdd = sc.textFile("file*.txt")

# 4. Collect and print the RDD's content to verify
print("\n--- Contents of the single RDD ---")
for line in rdd.collect():
  print(line)

# 5. Stop the SparkSession
spark.stop()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
Created file1.txt and file2.txt successfully.

--- Contents of the single RDD ---
Hello Spark from file one
This is the first line
End of file one
Greetings from file two
This is the second line

In [ ]:
#1] b) Create 2 CSV files. Read the contents in a single RDD.

#Solution:

# 1. Install and set up Spark
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadMultipleCSVs").getOrCreate()
sc = spark.sparkContext

# 2. Create the two CSV files
with open("products.csv", "w") as f:
  f.write("product_id,product_name,price\n")
  f.write("101,Laptop,1200\n")
  f.write("102,Mouse,25\n")

with open("more_products.csv", "w") as f:
  f.write("product_id,product_name,price\n")
  f.write("103,Keyboard,75\n")
  f.write("104,Webcam,50\n")

print("Created products.csv and more_products.csv successfully.")

# 3. Read all files ending with .csv into a single RDD
csv_rdd = sc.textFile("*.csv")

# 4. Collect and print the RDD's content to verify
print("\n--- Contents of the single RDD from both CSVs ---")
for line in csv_rdd.collect():
  print(line)

# 5. Stop the SparkSession
spark.stop()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
Created products.csv and more_products.csv successfully.

--- Contents of the single RDD from both CSVs ---
product_id,product_name,price
103,Keyboard,75
104,Webcam,50
product_id,product_name,price
101,Laptop,1200
102,Mouse,25

In [ ]:
#2] Create two dataframes one for employee and other for dept. Perform
#a) Left outer join
#b) Full outer join
#c) Inner join

#Solution:

# Install PySpark
!pip install pyspark

# Import and create a SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("JoinExamples").getOrCreate()

# Employee Data
emp_data = [
    (1, "Alice", 10),
    (2, "Bob", 20),
    (3, "Charlie", 10),
    (4, "David", None),      # Employee with no department
    (5, "Eve", 40)           # Employee in a non-existent department
]
emp_columns = ["emp_id", "emp_name", "dept_id"]
empDF = spark.createDataFrame(data=emp_data, schema=emp_columns)

# Department Data
dept_data = [
    (10, "Engineering"),
    (20, "Marketing"),
    (30, "Finance")        # Department with no employees
]
dept_columns = ["dept_id", "dept_name"]
deptDF = spark.createDataFrame(data=dept_data, schema=dept_columns)

print("Employee DataFrame:")
empDF.show()

print("Department DataFrame:")
deptDF.show()

#a) Left outer join
print("--- a) Left Outer Join ---")
# Keep all employees, and add department info where it exists
left_join_df = empDF.join(deptDF, on="dept_id", how="left")
left_join_df.show()

#b) Full outer join
print("--- b) Full Outer Join ---")
# Keep all records from both DataFrames
full_outer_join_df = empDF.join(deptDF, on="dept_id", how="full")
full_outer_join_df.show()

#c) Inner join
print("--- c) Inner Join ---")
# Keep only records that have a match in both DataFrames
inner_join_df = empDF.join(deptDF, on="dept_id", how="inner")
inner_join_df.show()

# Stop the SparkSession
spark.stop()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
Employee DataFrame:
+------+--------+-------+
|emp_id|emp_name|dept_id|
+------+--------+-------+
|     1|   Alice|     10|
|     2|     Bob|     20|
|     3| Charlie|     10|
|     4|   David|   NULL|
|     5|     Eve|     40|
+------+--------+-------+

Department DataFrame:
+-------+-----------+
|dept_id|  dept_name|
+-------+-----------+
|     10|Engineering|
|     20|  Marketing|
|     30|    Finance|
+-------+-----------+

--- a) Left Outer Join ---
+-------+------+--------+-----------+
|dept_id|emp_id|emp_name|  dept_name|
+-------+------+--------+-----------+
|     10|     1|   Alice|Engineering|
|     20|     2|     Bob|  Marketing|
|   NULL|     4|   David|       NULL|
|     10|     3| Charlie|Engineering|
|     40|     5|     Eve|       NULL|
+-------+------+--------+-----------+

--- b) Full Outer Join ---
+-------+------+--------+-----------+
|dept_id|emp_id|emp_name|  dept_name|
+-------+------+--------+-----------+
|   NULL|     4|   David|       NULL|
|     10|     1|   Alice|Engineering|
|     10|     3| Charlie|Engineering|
|     20|     2|     Bob|  Marketing|
|     30|  NULL|    NULL|    Finance|
|     40|     5|     Eve|       NULL|
+-------+------+--------+-----------+

--- c) Inner Join ---
+-------+------+--------+-----------+
|dept_id|emp_id|emp_name|  dept_name|
+-------+------+--------+-----------+
|     10|     1|   Alice|Engineering|
|     10|     3| Charlie|Engineering|
|     20|     2|     Bob|  Marketing|
+-------+------+--------+-----------+