In [1]:
#Spark SQL : Demonstrate the use of next functions : createDataFrame(), where() &
#filter(), withColumn(), withColumnRenamed(), drop(), distinct(), groupBy(), join(),
#map() vs mapPartitions(), foreach() vs foreachPartition(), pivot(), union(), collect(),
#cache() & persist(), udf()

In [2]:
#Pratical6

In [4]:
!apt-get install openjdk-11-jdk -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar -xzf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [5]:
import os, findspark
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark_SQL_Functions_Demo").getOrCreate()
print("✅ Spark version:", spark.version)

✅ Spark version: 3.5.1

In [6]:
from pyspark.sql import Row
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, StringType
from pyspark import StorageLevel

In [7]:
#createDataFrame()
data = [
    (1, "Alice", 25, "HR"),
    (2, "Bob", 30, "IT"),
    (3, "Cathy", 27, "IT"),
    (4, "David", 30, "Finance"),
    (5, "Eva", 35, "HR")
]
columns = ["id", "name", "age", "dept"]
df = spark.createDataFrame(data, columns)
df.show()

+---+-----+---+-------+
| id| name|age|   dept|
+---+-----+---+-------+
|  1|Alice| 25|     HR|
|  2|  Bob| 30|     IT|
|  3|Cathy| 27|     IT|
|  4|David| 30|Finance|
|  5|  Eva| 35|     HR|
+---+-----+---+-------+

In [8]:
#where() & filter()
df.where("age > 28").show()
df.filter(F.col("dept") == "IT").show()

+---+-----+---+-------+
| id| name|age|   dept|
+---+-----+---+-------+
|  2|  Bob| 30|     IT|
|  4|David| 30|Finance|
|  5|  Eva| 35|     HR|
+---+-----+---+-------+

+---+-----+---+----+
| id| name|age|dept|
+---+-----+---+----+
|  2|  Bob| 30|  IT|
|  3|Cathy| 27|  IT|
+---+-----+---+----+

In [9]:
#withColumn()
df_bonus = df.withColumn("bonus", F.col("age") * 1000)
df_bonus.show()

+---+-----+---+-------+-----+
| id| name|age|   dept|bonus|
+---+-----+---+-------+-----+
|  1|Alice| 25|     HR|25000|
|  2|  Bob| 30|     IT|30000|
|  3|Cathy| 27|     IT|27000|
|  4|David| 30|Finance|30000|
|  5|  Eva| 35|     HR|35000|
+---+-----+---+-------+-----+

In [10]:
# withColumnRenamed()
df_renamed = df_bonus.withColumnRenamed("dept", "department")
df_renamed.show()

+---+-----+---+----------+-----+
| id| name|age|department|bonus|
+---+-----+---+----------+-----+
|  1|Alice| 25|        HR|25000|
|  2|  Bob| 30|        IT|30000|
|  3|Cathy| 27|        IT|27000|
|  4|David| 30|   Finance|30000|
|  5|  Eva| 35|        HR|35000|
+---+-----+---+----------+-----+

In [11]:
#drop()
df_dropped = df_renamed.drop("bonus")
df_dropped.show()

+---+-----+---+----------+
| id| name|age|department|
+---+-----+---+----------+
|  1|Alice| 25|        HR|
|  2|  Bob| 30|        IT|
|  3|Cathy| 27|        IT|
|  4|David| 30|   Finance|
|  5|  Eva| 35|        HR|
+---+-----+---+----------+

In [12]:
# distinct()
df.select("dept").distinct().show()

+-------+
|   dept|
+-------+
|     HR|
|     IT|
|Finance|
+-------+

In [13]:
#groupBy()
df.groupBy("dept").agg(F.avg("age").alias("avg_age")).show()

+-------+-------+
|   dept|avg_age|
+-------+-------+
|     HR|   30.0|
|     IT|   28.5|
|Finance|   30.0|
+-------+-------+

In [14]:
#join()
dept_loc = spark.createDataFrame([
    ("HR", "Delhi"),
    ("IT", "Mumbai"),
    ("Finance", "Pune")
], ["dept", "location"])
df.join(dept_loc, on="dept", how="inner").show()

+-------+---+-----+---+--------+
|   dept| id| name|age|location|
+-------+---+-----+---+--------+
|Finance|  4|David| 30|    Pune|
|     HR|  1|Alice| 25|   Delhi|
|     HR|  5|  Eva| 35|   Delhi|
|     IT|  2|  Bob| 30|  Mumbai|
|     IT|  3|Cathy| 27|  Mumbai|
+-------+---+-----+---+--------+

In [15]:
# map() vs mapPartitions()
rdd = df.rdd

mapped = rdd.map(lambda x: (x.name, x.age + 1))
print("map() result:", mapped.collect())

def add_two(partition):
    for row in partition:
        yield (row.name, row.age + 2)

mapped_part = rdd.mapPartitions(add_two)
print("mapPartitions() result:", mapped_part.collect())

map() result: [('Alice', 26), ('Bob', 31), ('Cathy', 28), ('David', 31), ('Eva', 36)]
mapPartitions() result: [('Alice', 27), ('Bob', 32), ('Cathy', 29), ('David', 32), ('Eva', 37)]

In [16]:
#foreach() vs foreachPartition()
print("foreach(): Print names in RDD")
rdd.foreach(lambda x: print(x.name))

print("foreachPartition(): Print partitioned names")
def print_partition(partition):
    print([x.name for x in partition])

rdd.foreachPartition(print_partition)

foreach(): Print names in RDD
foreachPartition(): Print partitioned names

In [17]:
# pivot()
pivotDF = df.groupBy().pivot("dept").agg(F.avg("age"))
pivotDF.show()

+-------+----+----+
|Finance|  HR|  IT|
+-------+----+----+
|   30.0|30.0|28.5|
+-------+----+----+

In [18]:
#union()
df_extra = spark.createDataFrame([(6, "Frank", 29, "Marketing")], columns)
df_union = df.union(df_extra)
df_union.show()

+---+-----+---+---------+
| id| name|age|     dept|
+---+-----+---+---------+
|  1|Alice| 25|       HR|
|  2|  Bob| 30|       IT|
|  3|Cathy| 27|       IT|
|  4|David| 30|  Finance|
|  5|  Eva| 35|       HR|
|  6|Frank| 29|Marketing|
+---+-----+---+---------+

In [19]:
#collect()
data_collected = df_union.collect()
print(data_collected)

[Row(id=1, name='Alice', age=25, dept='HR'), Row(id=2, name='Bob', age=30, dept='IT'), Row(id=3, name='Cathy', age=27, dept='IT'), Row(id=4, name='David', age=30, dept='Finance'), Row(id=5, name='Eva', age=35, dept='HR'), Row(id=6, name='Frank', age=29, dept='Marketing')]

In [20]:
#cache() & persist()
df_cached = df.cache()
df_persisted = df.persist(StorageLevel.MEMORY_AND_DISK)
print("Cache and persist done.")
df_cached.show()

Cache and persist done.
+---+-----+---+-------+
| id| name|age|   dept|
+---+-----+---+-------+
|  1|Alice| 25|     HR|
|  2|  Bob| 30|     IT|
|  3|Cathy| 27|     IT|
|  4|David| 30|Finance|
|  5|  Eva| 35|     HR|
+---+-----+---+-------+

In [21]:
#udf()
from pyspark.sql.functions import udf

def age_category(age):
    if age < 30:
        return "Young"
    elif age < 35:
        return "Adult"
    else:
        return "Senior"

udf_age_category = udf(age_category, StringType())
df_udf = df.withColumn("category", udf_age_category(F.col("age")))
df_udf.show()

+---+-----+---+-------+--------+
| id| name|age|   dept|category|
+---+-----+---+-------+--------+
|  1|Alice| 25|     HR|   Young|
|  2|  Bob| 30|     IT|   Adult|
|  3|Cathy| 27|     IT|   Young|
|  4|David| 30|Finance|   Adult|
|  5|  Eva| 35|     HR|  Senior|
+---+-----+---+-------+--------+